//test font for client email
@font-face {
  font-family: 'Berlingske Serif';
  font-style: normal;
  font-weight: 500;
  src: url('https://drive.google.com/file/d/1r-ZB7FCqyh5LmkZ995YgpNZTh4o5mk5w/view?usp=sharing') format('opentype');
  //unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;

