//test font for client email
@font-face {
  font-family: 'Berlingske Serif';
  font-style: normal;
  font-weight: 500;
  src: url('https://github.com/WorkParker/Test_Font/blob/6ebc7b6d9f7ffd483b75ea0ed3cd5933ce72d62d/BerlingskeSerif-Md.otf') format('opentype');
  //unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;