
//test font for client email
@font-face {
  font-family: 'Berlingske Serif';
  font-style: Regular;
  font-weight: 400;
  src: url('https://github.com/WorkParker/Test_Font/blob/6ebc7b6d9f7ffd483b75ea0ed3cd5933ce72d62d/BerlingskeSerif-Md.otf') format('opentype');
}

